<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmqSCjncT8BVPmnKcVAM0i-R-Vydy9a84</string>
	<key>GCM_SENDER_ID</key>
	<string>52500006960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dateSplitApp</string>
	<key>PROJECT_ID</key>
	<string>date-split-2db9b</string>
	<key>STORAGE_BUCKET</key>
	<string>date-split-2db9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52500006960:ios:f672ad3cc2e7ce235305f5</string>
	<key>DATABASE_URL</key>
	<string>https://date-split-2db9b-default-rtdb.firebaseio.com</string>
</dict>
</plist>